 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/stock-photo-at-the-construction-site.jpg");
  background-position: 50% 50%;
  min-height: 765px;
}

.u-section-1 .u-group-1 {
  min-height: 278px;
  width: 500px;
  margin: 288px auto 60px calc(((100% - 1140px) / 2) + -32px);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 28px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-weight: 600;
  text-transform: none;
  font-size: 2.25rem;
  margin: 11px auto 0 22px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 13px auto 0 11px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  background-image: none;
  border-style: solid;
  margin: -48px 113px 0 auto;
  padding: 9px 34px 10px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 631px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 160px;
    margin-left: calc(((100% - 1140px) / 2) + 68px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 483px;
  }

  .u-section-1 .u-group-1 {
    width: 436px;
    margin-left: calc(((100% - 1140px) / 2) + 178px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 362px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 1140px) / 2) + 268px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 228px;
  }

  .u-section-1 .u-group-1 {
    width: 274px;
    margin-top: 95px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 22px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
} .u-section-2 {
  min-height: 1442px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0 calc(((100% - 1140px) / 2) + 455px);
}

.u-section-2 .u-text-2 {
  margin: 20px 247px 0;
}

.u-section-2 .u-gallery-1 {
  height: 552px;
  grid-gap: 17px 17px;
  width: 1140px;
  margin: 30px auto 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-image-1 {
  height: 665px;
  margin-top: 1px;
  margin-bottom: 0;
  filter: brightness(0.45);
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  width: 746px;
  margin: -437px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1345px;
  }

  .u-section-2 .u-text-2 {
    width: 746px;
    margin-left: calc(((100% - 1140px) / 2) + 197px);
    margin-right: calc(((100% - 1140px) / 2) + 197px);
  }

  .u-section-2 .u-gallery-1 {
    height: 455px;
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1674px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-gallery-1 {
    height: 784px;
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 3242px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-gallery-1 {
    height: 2352px;
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2371px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 494px);
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-gallery-1 {
    height: 1481px;
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 603px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  width: 1060px;
  margin: 21px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 414px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 10px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 403px;
  min-height: 144px;
  margin: -65px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-2 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 10px auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 403px;
  min-height: 144px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-4 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-3 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 10px auto 0 0;
}

.u-section-3 .u-group-3 {
  width: 403px;
  min-height: 144px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-6 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-3 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 10px auto 0 0;
}

.u-section-3 .u-group-4 {
  width: 403px;
  min-height: 144px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-8 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-text-9 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-3 .u-group-1 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-3 .u-group-2 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-3 .u-group-3 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-3 .u-group-4 {
    width: 333px;
    min-height: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-3 .u-group-2 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-3 .u-group-3 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-3 .u-group-4 {
    width: 224px;
    min-height: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-4 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-group-1 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-3 .u-group-2 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 29px;
  }

  .u-section-3 .u-group-3 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 29px;
  }

  .u-section-3 .u-group-4 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 29px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/stock-photo-hard-hat-with-blueprints-and.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 652px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-form-1 {
  height: 77px;
  width: 655px;
  margin: 26px auto 60px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 538px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-4 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
  }
} .u-section-5 {
  min-height: 984px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  width: 722px;
  margin: 22px calc(((100% - 1140px) / 2) + 209px) 0;
}

.u-section-5 .u-text-2 {
  font-size: 3.75rem;
  margin: 6px calc(((100% - 1140px) / 2) + 380px) 0 calc(((100% - 1140px) / 2) + 330px);
}

.u-section-5 .u-line-1 {
  width: 86px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 7px auto 0 calc(((100% - 1140px) / 2) + 527px);
}

.u-section-5 .u-text-3 {
  width: 696px;
  margin: 21px calc(((100% - 1140px) / 2) + 222px) 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: -91px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 423px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 30px -1px 0;
}

.u-section-5 .u-text-5 {
  margin: 20px -1px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 423px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 18px;
}

.u-section-5 .u-icon-2 {
  height: 80px;
  width: 80px;
  margin: 24px auto 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 30px 12px 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  background-image: none;
  align-self: center;
  text-decoration: underline !important;
  font-size: 1.25rem;
  margin: 24px 0 0;
  padding: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 423px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 107px 29px 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 137px;
  min-height: 16px;
  width: 579px;
  min-width: 94px;
  margin: 12px auto 0 -9px;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-5 .u-icon-5 {
  height: 100%;
  color: rgb(77, 118, 161) !important;
}

.u-section-5 .u-icon-6 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 845px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 836px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 109px);
    margin-right: calc(((100% - 940px) / 2) + 109px);
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 280px);
    margin-left: calc(((100% - 940px) / 2) + 230px);
  }

  .u-section-5 .u-line-1 {
    margin-left: calc(((100% - 940px) / 2) + 527px);
  }

  .u-section-5 .u-text-3 {
    margin-left: calc(((100% - 940px) / 2) + 122px);
    margin-right: calc(((100% - 940px) / 2) + 122px);
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 348px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 697px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 312px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 170px);
    margin-left: calc(((100% - 720px) / 2) + 120px);
  }

  .u-section-5 .u-line-1 {
    margin-left: calc(((100% - 720px) / 2) + 527px);
  }

  .u-section-5 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2) + 12px);
    margin-right: calc(((100% - 720px) / 2) + 12px);
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 1068px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 412px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 80px);
    margin-bottom: 60px;
    margin-left: calc(((100% - 540px) / 2) + 30px);
  }

  .u-section-5 .u-line-1 {
    margin-left: calc(((100% - 540px) / 2) + 454px);
  }

  .u-section-5 .u-text-3 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 801px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-line-1 {
    margin-left: calc(((100% - 340px) / 2) + 254px);
  }

  .u-section-5 .u-text-3 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 504px;
  }
}